body {
    background: #b9c9ff;
    font-family: 'Roboto', sans-serif;
}
.header {
    background: #FFF;
    color: inherit;
}
.headerText {
    font-size: 300%
}
#paddingSlider{
    margin-top:100px;
}
